{% extends "base.html.twig" %}

{% block title %}

{% endblock %}
    Erreur: {{ code }}
{% endblock %}

{% block content %}
    <section>
        <h2>Erreur : {{ code }}</h2>
        <p>{{ message }}</p>
    </section>
{% endblock %}